<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang quẢN trị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
  
    <link href="~/Asserts/admin/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Asserts/admin/css/AdminLTE.min.css">
    <link href="~/Asserts/admin/libs/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Asserts/admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Asserts/admin/css/skins/_all-skins.min.css">
    <link href="~/Asserts/admin/css/custom.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="tedushop" ng-controller="rootController">
    <div ui-view> </div>

    <script src="~/Asserts/admin/libs/jquery/dist/jquery.js"></script>
    <script src="~/Asserts/admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Asserts/admin/libs/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/Asserts/admin/libs/fastclick/lib/fastclick.js"></script>
    <script src="/Asserts/admin/js/app.min.js"></script>
    <script src="~/Asserts/admin/libs/toastr/toastr.js"></script>
    <script src="~/Asserts/admin/libs/angular/angular.js"></script>
    <script src="~/Asserts/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Asserts/admin/libs/bootbox/bootbox.js"></script>
    <script src="~/Asserts/admin/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Asserts/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Asserts/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <link href="~/Asserts/admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <script src="~/Asserts/admin/libs/angular-local-storage/dist/angular-local-storage.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/components/Home/rootController.js"></script>
    <script src="~/app/components/Home/homeController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>
    <script src="~/app/shared/module/tedushop.common.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/filter/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/components/product_categories/ProductCategories.module.js"></script>
    <script src="~/app/components/product_categories/ProductCategoryListController.js"></script>
    <script src="~/app/components/product_categories/ProductCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/ProductCategoryEditController.js"></script>
    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
</body>
</html>
